#container {
    width: 700px;
    height: 700px;
    flex-direction: column;
    align-items: stretch;
}

.row,
#container {
    display: flex;
}

.row,
.square {
    flex: 1;
}

.square {
    width: 30px;
    background-color: black;
}

.mouseenter {
    background-color: white;
}